<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.forexgame.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.forexgame.ui.Perspective"
            id="com.forexgame.ui.Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.forexgame.ui.views.View"
            id="forexgame.application.View">
      </view>
      <view
            class="com.forexgame.ui.views.InstrumentsView"
            id="com.forexgame.ui.views.InstrumentsView"
            name="Instruments">
      </view>
      <view
            class="com.forexgame.ui.views.ChartView"
            id="com.forexgame.ui.views.ChartView"
            name="Chart"
            restorable="true">
      </view>
      <view
            class="com.forexgame.ui.views.NewsCategoriesView"
            id="com.forexgame.ui.views.NewsCategoriesView"
            name="News Categories"
            restorable="true">
      </view>
      <view
            class="com.forexgame.ui.views.NewsView"
            id="com.forexgame.ui.views.NewsView"
            name="News"
            restorable="true">
      </view>
      <view
            class="com.forexgame.ui.views.TransactionsView"
            id="com.forexgame.ui.views.TransactionsView"
            name="Transactions"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <!--view
               standalone="true"
               icon="icons/alt_window_16.png"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="forexgame.application.View">
         </view-->
         <view
               visible="true"
               id="com.forexgame.ui.ChartView"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left">
         </view>
         <view
               id="com.forexgame.ui.InstrumentsView"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left">
         </view>
         <view
               id="com.forexgame.ui.NewsCategoriesView"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left">
         </view>
         <view
               id="com.forexgame.ui.NewsView"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left">
         </view>
         <view
               id="com.forexgame.ui.TransactionsView"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.forexgame.application"
            name="Forex Game">
         <property
               name="appName"
               value="Forex Game">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.forexgame.application"
            name="Forex Game">
         <property
               name="appName"
               value="Forex Game">
         </property>
      </product>
   </extension>

</plugin>
